<h1>House of Riddles</h1>
<div class="container">
    <form id="sphynx-riddles" action="/output" method="get">
      <div class="form-group">
        <label for="riddle1">It goes vroom ,when you use it you feel like Fred flint stone</label>
        <input id="answer1" type="text" name="riddle1">
      </div>

      <div class="form-group">
        <label for="riddle2">What barks very loud</label>
        <input id="answer2" type="text" name="riddle2">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
