h1 {
  text-align: center;
  font-style: italic;
  font-family: monospace;
  text-decoration: underline;
  text-decoration-style: dashed;
}
p {
  font-size: 20px;
}

.form-group{
  font-size: 20px;
  font-family:  sans-serif;
}

body{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: lightsalmon;
}
